@model List<Contact>


@section contact
{
    <link rel="stylesheet" href="~/css/contact.css" />
}


<h1 class="text-center my-5">All contacts</h1>
<ul class="main-container">
    @foreach (var contact in Model)
    {
        <li class="item">
            <img class="image" src="@contact.URL"/>
            <p class="name">@contact.Name</p>
            <p class="surname">@contact.Surname</p>
        </li>
    }
</ul>
