@model List<Contact>
@{
    Layout = "_Layout";
}
@section contact
{
    <link rel="stylesheet" href="~/css/contact.css" />
}
<h1 class="text-center my-5">All contacts</h1>
<ul class="main-container">
    @foreach (Contact contact in Model)
    {
    @await Html.PartialAsync("Partial/ContactPartial", contact);
    }
</ul>
